In [ ]:
class person:
  pass
john_doe=person()
john_doe.name = "alec"
john_doe.surname = "baldwin"
john_doe.year_of_birth = 1958

print(john_doe)
print("%s %s was born in %d."%(john_doe.name,john_doe.surname,john_doe.year_of_birth))

<__main__.person object at 0x7f87f8c28518>
alec baldwin was born in 1958.

In [ ]:
class person:
  def __init__(self,name,surname,year_of_birth):
    self.name = name
    self.surname = surname
    self.year_of_birth = year_of_birth

In [ ]:
 alec = person("Alec", "baldwin", 1958)
print(alec)
print("%s %s was born in %d" % (alec.name,alec.surname,alec.year_of_birth ))

<__main__.person object at 0x7f87f0e7e908>
Alec baldwin was born in 1958

In [ ]:
class student(person):
  def __init__(self,student_id, *args, **kwargs):
     super(student,self).__init__(*args, **kwargs)
     self._student_id = student_id

charlie = student(1, 'charlie', 'brown', 2006)
print(charlie)
print(type(charlie))
print(isinstance(charlie, person))
print(isinstance(charlie, object))

<__main__.student object at 0x7f87f0e58048>
<class '__main__.student'>
True
True