In [ ]:
import math

In [ ]:
math.ceil(2.4)

3

In [ ]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [ ]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(...)
    ceil(x)

    Return the ceiling of x as an Integral.
    This is the smallest integer >= x.

In [ ]:
import foo.bar

ModuleNotFoundError: ignored

In [ ]:
from foo import bar

ModuleNotFoundError: ignored

In [ ]:
__init__.py:
__all__ = ["bar"]

SyntaxError: ignored

In [ ]:
print('Hello)

SyntaxError: ignored

In [ ]:
print('Hello')

Hello

In [ ]:
try:
    f = open('testfile','w')
    f.write('Test write this')
except IOError:
  print("error: Could not find file or read data")
else:
  print("Content written successfully")
  f.close()

Content written successfully

In [ ]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except IOError:
  print("error:Could not find or read data")
else:
  print("Content written successfully")
  f.close()

error:Could not find or read data

In [ ]:
try:
  f = open("testfile","w")
  f.write("Test write statement")
finally:
  print("always execute finally code blocks")

always execute finally code blocks

In [ ]:
def askint():
        try:
          val = int(input("please enter an integer:"))
        except:
          print("Looks like you did not enter an integer!")

        finally:
          print("finally, i executed!")
        print(val)

In [ ]:
askint()

please enter an integer:123
finally, i executed!
123

In [ ]:

askint()

please enter an integer:abc
Looks like you did not enter an integer!
finally, i executed!

UnboundLocalError: ignored

In [ ]:
def askint():
      try:
          val = int(input("please enter an integer:"))
      except:
           print("looks like you did not enter an integer!")
           val = int(input("try again-please enter an integer:"))
      finally:
           print("finally, I executed!")
      print(val)

In [ ]:
askint()

please enter an integer:123
finally, I executed!
123

In [ ]:
askint()

please enter an integer:str
looks like you did not enter an integer!
try again-please enter an integer:123
finally, I executed!
123

In [ ]:
while True:
    try:
        val = int(input("please enter an integer:"))
    except:
        print("Looks like you did not enter an integer!")
        continue
    else:
         print("yep thats an integer!")
         break
    finally:
          print("Finally, I executed!")
    print(val)

please enter an integer:str
Looks like you did not enter an integer!
Finally, I executed!
please enter an integer:bc
Looks like you did not enter an integer!
Finally, I executed!
please enter an integer:23
yep thats an integer!
Finally, I executed!

In [8]:
import sqlite3

db = sqlite3.connect("my_database1.db")

db.execute("drop table if exists grades1")

db.execute("create table grades1(id int, name text, score int)")

db.execute("insert into grades1(id, name, score) values(101, 'john', 99)")
db.execute("insert into grades1(id, name, score) values(102,'gary', 90)")
db.execute("insert into grades1(id, name, score) values(103,'james', 80)")
db.execute("insert into grades1(id, name, score) values(104,'Cathy', 85)")
db.execute("insert into grades1(id, name, score) values(105,'kris', 95)")

In [9]:
db.commit()

In [10]:
results = db.execute("select * from grades1 order by id")
for row in results:
  print(row)
print("_" * 60)

(101, 'john', 99)
(102, 'gary', 90)
(103, 'james', 80)
(104, 'Cathy', 85)
(105, 'kris', 95)
____________________________________________________________

In [15]:
results = db.execute("select * from grades1 where name = 'kris' ")
for now in results:
  print(row)
print("_" * 60)

(105, 'kris', 95)
____________________________________________________________

In [16]:
results = db.execute("select * from grades1 where score >= 90")
for row in results:
  print(row)
print("_" * 60)

(101, 'john', 99)
(102, 'gary', 90)
(105, 'kris', 95)
____________________________________________________________

In [20]:
results = db.execute("select name , score from grades1 order by score desc ")
for row in results:
    print(row)
print("_" * 60)

('john', 99)
('kris', 95)
('gary', 90)
('Cathy', 85)
('james', 80)
____________________________________________________________

In [21]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
  print(row)
print("_" * 60)

('james', 80)
('Cathy', 85)
('gary', 90)
('kris', 95)
('john', 99)
____________________________________________________________

In [22]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
  print(row)

('james', 80)
('Cathy', 85)
('gary', 90)
('kris', 95)
('john', 99)